<h2>Template : Basicos</h2>
<hr />
<div class="row">
  <div class="col">
    <form (ngSubmit)="guardar()" autocomplete="off" #miFormulario="ngForm">
      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del producto"
            ngModel
            name="producto"
            required
            minlength="3"
            [ngModel]="initForm.producto"
          />
          <span class="form-text text-danger"
            *ngIf="nombreValido()"
          >Tiene que tener 3 letras</span>
        </div>
      </div>
      <!-- Otro campo -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Precio del producto"
            ngModel
            name="precio"
            [ngModel]="initForm.precio"
            required
          />
          <span class="form-text text-danger"
            *ngIf="precioValido()"
          >El precio tiene que ser 0 o mayor a 0</span>
        </div>
      </div>
      <!-- Existencia del producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Existencias del producto"
            ngModel
            name="existencias"
            customMin
            [minimo]="0"
            [ngModel]="initForm.existencias"
            required
          />
          <!-- customMin
            [minimo]="0"
          El minimo no es una propiedad que el input conozca, pero con 
        la directira customMin (que es una directiva) la va a conocer -->
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end"
            [disabled]="miFormulario.invalid"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Value</span>
    <pre>{{ miFormulario.value | json }}</pre>
    <!-- Touched cambia de valor apenas entrar en el input a ver el value -->
    <span>touched</span>
    <pre>{{ miFormulario.touched }}</pre>
    <!-- Pristine es que no fue tocado. -->
    <span>Pristine</span>
    <pre>{{ miFormulario.pristine }}</pre>
    <span>Valid</span>
    <pre>{{ miFormulario.valid }}</pre>
    <span>CustomDirective</span>
    <pre>{{ miFormulario.controls['existencias']?.errors | json }}</pre>
  </div>
</div>
